<% content_for :title, "New contact" %>
<!-- app/views/contacts/new.html.erb -->
<% if authenticated? %>
  Autenticato
<% end %>
<div class="mt-24 rounded-2xl bg-white p-6 shadow max-w-lg mx-auto">
  <%= render "form", contact: @contact %>
</div>